name: Full CI tests and Docker deployment
on: [pull_request]

jobs:
  build-docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Check out repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: "Dockerfile"
          tags: ecosystem:latest
          push: false
          build-args: |
            INSTALL_EVAL_HD=true
            INSTALL_PROTEUS=true
            INSTALL_TOOLCHAIN=true
          outputs: type=docker,dest=/tmp/ecosystem-docker.tar

      - name: Upload Docker artifact
        uses: actions/upload-artifact@v4
        with:
          name: ecosystem-docker
          path: /tmp/ecosystem-docker.tar

  ci-tests:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          docker-images: false

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Download Docker artifact
        uses: actions/download-artifact@v4
        with:
          name: ecosystem-docker
          path: /tmp

      - name: Load Docker image
        run: docker load --input /tmp/ecosystem-docker.tar

      - name: Run Newlib tests
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            cd /ecosystem/newlib-bsp
            make main.bin && mv main.bin main-32.bin
            make clean && make 64BIT=1 main.bin && mv main.bin main-64.bin
            ../simulation/build/sim-32-i main-32.bin
            ../simulation/build/sim-32-o main-32.bin
            ../simulation/build/sim-64-i main-64.bin
            ../simulation/build/sim-64-o main-64.bin

      - name: Run functional tests
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            cd /ecosystem
            cp simulation/build/sim-32-i simulation/build/sim && make clean -C functional-tests && make BUILD_CORE=0 -C functional-tests
            cp simulation/build/sim-32-o simulation/build/sim && make clean -C functional-tests && make BUILD_CORE=0 -C functional-tests
            cp simulation/build/sim-64-i simulation/build/sim && make clean -C functional-tests && make BUILD_CORE=0 64BIT=1 -C functional-tests
            cp simulation/build/sim-64-o simulation/build/sim && make clean -C functional-tests && make BUILD_CORE=0 64BIT=1 -C functional-tests

      - name: Run SpectreGuard benchmarks
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            cd /ecosystem/benchmarks/spectreguard
            make && mv specBench.bin specBench-32.bin
            ../../simulation/build/sim-32-i specBench-32.bin
            ../../simulation/build/sim-32-o specBench-32.bin
            make clean && make 64BIT=1 && mv specBench.bin specBench-64.bin
            ../../simulation/build/sim-64-i specBench-64.bin
            ../../simulation/build/sim-64-o specBench-64.bin

      - name: Run Embench benchmarks
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            cd /ecosystem/benchmarks/embench
            make
            python3 benchmark_speed.py --target-module=run_proteus --timeout=5400 --absolute --sim=../../simulation/build/sim-32-i
            python3 benchmark_speed.py --target-module=run_proteus --timeout=5400 --absolute --sim=../../simulation/build/sim-32-o
            make clean && make 64BIT=1
            python3 benchmark_speed.py --target-module=run_proteus --timeout=5400 --absolute --sim=../../simulation/build/sim-64-i
            python3 benchmark_speed.py --target-module=run_proteus --timeout=5400 --absolute --sim=../../simulation/build/sim-64-o

      - name: Run non-interference test
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            . /ecosystem/waveform-analysis/.venv/bin/activate
            cd /ecosystem/noninterference-testing/
            make -C programs vcd SIM_EXE=/ecosystem/simulation/build/sim-32-o
            waveform-security

      - name: Run EVAL-HD
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            . /ecosystem/waveform-analysis/.venv/bin/activate
            cd /ecosystem/synthesis
            ./eval-hd.py ../core/Core.v --cell-library ../eval-hd/freepdk-45nm/stdcells.lib

      - name: Run one riscv-formal test
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            cd /ecosystem/formal-verification/riscv-formal
            make formal-insn_bgeu

  push-image:
    name: Push Docker image
    runs-on: ubuntu-latest
    # only run when build and ci-tests both succeed
    needs: [build-docker, ci-tests ]
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          docker-images: false

      - name: Download Docker artifact
        uses: actions/download-artifact@v4
        with:
          name: ecosystem-docker
          path: /tmp

      - name: Load Docker image
        run: docker load --input /tmp/ecosystem-docker.tar

      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker tag ecosystem:latest ghcr.io/${{ github.repository_owner }}/ecosystem:latest
          docker push ghcr.io/${{ github.repository_owner }}/ecosystem:latest
