name: Reduced CI tests
on: [push, pull_request]

jobs:
  build-docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Check out repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: "Dockerfile"
          tags: ecosystem:latest
          push: false
          build-args: |
            INSTALL_PROTEUS=true
          outputs: type=docker,dest=/tmp/ecosystem-docker.tar

      - name: Upload Docker artifact
        uses: actions/upload-artifact@v4
        with:
          name: ecosystem-docker
          path: /tmp/ecosystem-docker.tar

  ci-tests:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          docker-images: false

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Download Docker artifact
        uses: actions/download-artifact@v4
        with:
          name: ecosystem-docker
          path: /tmp

      - name: Load Docker image
        run: docker load --input /tmp/ecosystem-docker.tar

      - name: Run functional tests
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            cd /ecosystem
            cp simulation/build/sim-32-i simulation/build/sim && make clean -C functional-tests && make RISCV_PREFIX=riscv64-unknown-elf BUILD_CORE=0 -C functional-tests
            cp simulation/build/sim-32-o simulation/build/sim && make clean -C functional-tests && make RISCV_PREFIX=riscv64-unknown-elf BUILD_CORE=0 -C functional-tests
            cp simulation/build/sim-64-i simulation/build/sim && make clean -C functional-tests && make RISCV_PREFIX=riscv64-unknown-elf BUILD_CORE=0 64BIT=1 -C functional-tests
            cp simulation/build/sim-64-o simulation/build/sim && make clean -C functional-tests && make RISCV_PREFIX=riscv64-unknown-elf BUILD_CORE=0 64BIT=1 -C functional-tests

      - name: Run non-interference test
        uses: addnab/docker-run-action@v3
        with:
          image: ecosystem:latest
          run: |
            cd /ecosystem
            . /ecosystem/waveform-analysis/.venv/bin/activate
            cd /ecosystem/noninterference-testing/
            make -C programs vcd SIM_EXE=/ecosystem/simulation/build/sim-32-o
            waveform-security
